@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-a: Verdana, Geneva, Tahoma, sans-serif;
    --font-b: 'Passion One', cursive;
    --font-c: 'Sriracha', cursive;

    --cor-primaria: rgb(11, 74, 76);
    --cor-secundaria: rgb(241, 247, 252);
    --cor-escura: rgb(1, 43, 29);
    --cor-texto-claro: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(200, 200, 200);
    font-family: var(--font-a);
    width: 100%;
}


header {
    background: var(--cor-primaria);
    color: var(--cor-texto-claro);
    text-align: center;
    padding: clamp(2vh, 5vw, 5vh) clamp(10px, 3vw, 30px);
}

header h1 {
    font-family: var(--font-b);
    font-size: clamp(2rem, 10vw, 7rem);
    text-shadow: 1px 1px 3px black;
    font-variant: small-caps;
}

header p {
    font-size: clamp(1.2rem, 3vw, 2.3rem);
    margin-top: 1vh;
    text-shadow: 1px 1px 2px black;
}

header a {
    color: rgb(0, 255, 150);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

header a:hover,
footer a:hover {
    text-decoration: wavy underline;
}

header a:visited,
footer a:visited {
    color: rgba(0, 229, 255, 0.726);
}


section {
    padding: 10vh 4vh;
    font-family: var(--font-c);
    font-size: 2.6vh;
    line-height: 6vh;
}

section.comum {
    background: var(--cor-secundaria);
    color: var(--cor-escura);
}


section.comum p {
    margin-left: clamp(0.8rem, 2vw, 2rem);
    margin-right: clamp(0.8rem, 2vw, 2rem);
    display: block;
}


section.imagens {
    color: var(--cor-texto-claro);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 2px 2px 2px black;
    min-height: 50vh;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.6);
}


section.imagens p {
    background: rgba(0, 0, 0, 0.45);
    padding: 0.6rem 0.7rem;     
    margin-left: clamp(0.8rem, 2vw, 2rem);
    margin-right: 0;     
    width: fit-content; 
    max-width: 80%;     
    display: block;
}

/* BACKGROUNDS */
#img1 {
    background-image: url("https://images.unsplash.com/photo-1470115636492-6d2b56f9146d");
}

#img2 {
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba");
}

/* FOOTER */
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    text-align: center;
    text-shadow: 1px 1px 2px black;
    padding: 1.5vh 15px;
    font-size: 1.5vh;
    line-height: 2.5vh;
}

footer a {
    color: rgb(0, 255, 200);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}


 /* DESKTOP */
@media (min-width: 769px) {

    section.comum p,
    section.imagens p {
        font-size: clamp(1.6rem, 2.2vw, 3.2rem);
        line-height: clamp(2.4rem, 3vw, 4.2rem);
    }
}

/* TABLET */
@media (max-width: 768px) {

    section {
        padding: 8vh 3vh;
        font-size: 2.2vh;
        line-height: 5vh;
    }

    section.imagens p {
        font-size: 2.1vh;
        max-width: 90%;
        padding: 0.6rem;
    }
}

/* CELULAR */
@media (max-width: 480px) {

    section {
        padding: 6vh 3vh;
        line-height: 4.4vh;
        font-size: 2vh;
    }

    section.imagens p {
        background: rgba(0,0,0,0.6);
        padding: 0.5rem 0.6rem;
        max-width: 95%;
    }

    footer {
        font-size: 1.2vh;
    }
}
